.service {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 1rem auto;
  padding: 1rem;
  padding-top: 50px;
  text-align: center;
  border-radius: 7px;
  transition: all 0.4s ease-in;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.service:hover {
  transform: translateY(-10px);
}

.service__box__icon {
  background-color: rgb(255, 239, 9);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.service__title {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.2px;
  margin: 1rem 0 0.5rem;
}

.service__description {
  font-size: 16px;
  color: rgb(112, 112, 112);
}

@media screen and (max-width: 576px) {
  .service {
    margin: 1rem auto;
  }
}
