.aboutMe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.my-img {
  width: 420px;
  height: 450px;
}

.aboutMe__name {
  font-size: 3rem;
  letter-spacing: 5px;
}

.aboutMe__description {
  margin: 1rem 0;
  font-size: 24px;
  line-height: 30px;
  text-align: justify;
  font-weight: 300;
  color: rgb(163, 163, 163);
}

.aboutMe__btns {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

@media screen and (max-width: 992px) {
  .aboutMe-container {
    flex-direction: column;
    align-items: center;
  }

  .my-img {
    width: 100%;
    height: auto;
  }

  .aboutMe__name {
    font-size: 2.4rem;
  }
}
